<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="css/style.css"/>

</head>

<body>
<h1 style="text-align: center; color: white;">Welcome to EMS System <%=firstName %> <%=lastName %> - <%=designation %>	</h1>
<div style="padding-top: 30px;" >
<div class="timeline">
  <div class="container left">
    <div class="content">
		<form action="/promotepage" method="post">
	    	<!-- <input type="hidden" name="employeeId" value="${employeeId}"/> -->
	    	<button style="background: white; color: red; border: none"  type="submit" name="promote" value="Promote">Promote An Employee</button>
		</form>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <form action="/displayunderemployeepage" method="post">
	    	<!-- <input type="hidden" name="employeeId" value="${employeeId}"/> -->
	    	<button style="background: white; color: red; border: none"  type="submit" name="displayunderemployee" value="DisplayUnderEmployee">Display Employees Who Works Under You.</button>
		</form>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <form action="/displaymentorpage" method="post">
	    	<!-- <input type="hidden" name="employeeId" value="${employeeId}"/> -->
	    	<button style="background: white; color: red; border: none"  type="submit" name="displaymentor" value="DisplayMentor">Display Your Mentor.</button>
		</form>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <form action="/addunderemployeepage" method="post">
	    	<!-- <input type="hidden" name="employeeId" value="${employeeId}"/> -->
	    	<button style="background: white; color: red; border: none"  type="submit" name="displaymentor" value="DisplayMentor">Add Employee Who Works Under You.</button>
		</form>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <form action="/addmentorpage" method="post">
	    	<!-- <input type="hidden" name="employeeId" value="${employeeId}"/> -->
	    	<button style="background: white; color: red; border: none"  type="submit" name="addmentor" value="DisplayMentor">Add Your Mentor.</button>
	 </form>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <form action="/logout" method="post">
	    	<!-- <input type="hidden" name="employeeId" value="${employeeId}"/> -->
	    	<button style="background: white; color: red; border: none"  type="submit" name="displaymentor" value="DisplayMentor">LogOut</button>
		</form>
    </div>
  </div>
</div>
</div>
</body>
</html>
